/* COLOUR PALLETE : #474853,#ee4c7c*/
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&family=Great+Vibes&family=Kaushan+Script&family=Sigmar+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url("./images/Colorful-Stingrays2.svg");
}
/* WELCOME SECTION --- HOME PAGE */
#welcome-section {
  width: 100%;
}
/*HEADER SECTION ---  LOGO IMAGE ---NAVIGATION BAR --- PROGRESS BAR*/
/* header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background: orange;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
  background: red;
  font-family: "Fugaz One", cursive;
}

#navbar img {
  width: 80px;
  height: 80px;

  position: relative;
}
#navbar .menu {
  display: flex;
  align-items: center;
  position: relative;
  left: 5%;
}
#navbar li {
  list-style: none;
}
#navbar a {
  text-decoration: none;
  padding: 30px;
  color: #474853;
  font-size: 1.5em;
  letter-spacing: 1px;
} */

/* MY NAME HEADING AND WELCOME IMAGE SECTION (WELCOME OR HOME BANNER */
.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  /* background: blue; */
}
h1 {
  font-size: 4em;
  position: relative;
  color: #1f2833;
  text-align: center;
  /*background:-webkit-linear-gradient(#e7177d,#ee4c7c,#9a1750);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
  /* top: 10vh; */
  line-height: 1.9;
  font-family: "Dancing Script", cursive;
  letter-spacing: 8px;
  font-weight: 800;
}
span {
  font-family: "Great Vibes", cursive;
  font-weight: bolder;
  color: #ee4c7c;
}
.svgimg {
  width: 500px;
  height: 600px;
  margin: auto;
  text-align: center;
  position: relative;
  /* top: 80px; */
  font-family: "Share Tech Mono", monospace;
  background: #ee4c7c;
}

#flyflag,
#flag {
  animation: fly 1.3s infinite alternate;
}
@keyframes fly {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(20px);
  }
}

/* ABOUT ME PAGE SECTION */
#about-me-section {
  width: 100%;
  height: 700px;
  /* background: green; */
}
#about-me-section .aboutmecontainer {
  width: 500px;
  height: 450px;
  margin: auto;
  backdrop-filter: blur(100px);
  position: relative;
  top: 100px;
  border: 3px solid #474853;
  text-align: center;
  background: pink;
}

#about-me-section .aboutmecontainer .logoimage {
  width: 100px;
  height: 100px;
  margin-top: 30px;
}

#about-me-section .aboutmecontainer p {
  margin: 1rem;
  font-size: 1.5rem;
  text-align: center;
}

a {
  text-decoration: none;
}
#mywork-section {
  width: 100%;
  height: 100vh;
}

/* BACK TO TOP BUTTON */

#button {
  display: none;

  position: fixed;
  z-index: 99;
  bottom: 30px;
  right: 30px;

  border: none;
  outline: none;

  color: #ee4c7c;

  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 4px;
  font-weight: bold;
  font-style: normal;
  font-size: 1em;
  letter-spacing: 1px;
  cursor: pointer;
}
#button .fas {
  font-size: 2em;
}

#button:hover {
  background-color: #333;
}
#button:active {
  background-color: #555;
}

footer {
  width: 100%;
  height: 80px;
  background-color: #f5a1ba;
  position: relative;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.fab,
.fas {
  color: #1f2833;
  font-size: 4.3em;
}

@media screen and (max-width: 400px) {
  .container {
    height: 800px;
  }
  .fab,
  .fas {
    color: #1f2833;
    font-size: 2em;
  }
  h1 {
    font-size: 2.9em;
    position: relative;
    color: #1f2833;
    text-align: center;
    /*background:-webkit-linear-gradient(#e7177d,#ee4c7c,#9a1750);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
    top: 8vh;
    line-height: 1.9;
    font-family: "Dancing Script", cursive;
    letter-spacing: 8px;
    font-weight: 800;
  }
  .svgimg {
    width: 350px;
    height: 400px;
    margin: auto;
    text-align: center;
    position: relative;
    bottom: 50px;

    font-family: "Share Tech Mono", monospace;
  }

  #about-me-section {
    width: 100%;
    height: 400px;
    position: relative;
    top: 10px;
  }
  #about-me-section .aboutmecontainer {
    width: 100%;
    position: relative;
    bottom: 50px;
    border: none;
    text-align: center;
  }
  footer {
    position: relative;
    bottom: 0;
    top: 500px;
  }
}

@media screen and (max-width: 600px) {
  .fab,
  .fas {
    color: #1f2833;
    font-size: 2em;
  }
  h1 {
    font-size: 2.9em;
    position: relative;
    color: #1f2833;
    text-align: center;
    /*background:-webkit-linear-gradient(#e7177d,#ee4c7c,#9a1750);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
    top: 8vh;
    line-height: 1.9;
    font-family: "Dancing Script", cursive;
    letter-spacing: 8px;
    font-weight: 800;
  }
  .svgimg {
    width: 100%;
    margin: auto;
    text-align: center;
    position: relative;
    font-family: "Share Tech Mono", monospace;
  }
  #about-me-section {
    width: 100%;
  }
  #about-me-section .aboutmecontainer {
    width: 100%;
    height: 700px;

    border: 3px solid #474853;
    text-align: center;
    background: pink;
  }
  #button .fas {
    font-size: 1.9em;
  }
}
